h1 {
    color: rgb(36, 53, 85);
    font-family: "Noto Sans", sans-serif;
    border-bottom: 2px solid rgb(36, 53, 85);
}

h2 {
    color: rgb(36, 53, 85);
    font-family: "Noto Sans", sans-serif;
    margin-left: 4rem;
    margin-right: 50%;
}

h2 a:hover, li:hover {
    background-color: #ffd9d9;
    background-clip: content-box;
}

p {
    font-size: 1rem;
    font-family: "Noto Sans", serif;
    margin-left: 5rem;
    margin-right: 5rem;
}

#indeed {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.1rem;
}

li {
    margin-left: 4rem;
    margin-right: 50%;
    font-size: 1rem;
    font-family: "Noto Sans";
    list-style-type: none;
}
